@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: green;
  --color-primary-cst: red;
  --color-custom-color: blue;
}

.dark {
  --color-primary: #a9ff20;
  --color-primary-cst: #fbbf24;
  --color-custom-color: #38bdf8;
}
body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

/* .text-10 { font-size: 0.625rem; }
.text-12 { font-size: 0.75rem; }
.text-14 { font-size: 0.875rem; }
.text-16 { font-size: 1rem; }
.text-18 { font-size: 1.125rem; }
.text-20 { font-size: 1.25rem; }
.text-22 { font-size: 1.375rem; }
.text-24 { font-size: 1.5rem; }
.text-26 { font-size: 1.625rem; }
.text-28 { font-size: 1.75rem; }
.text-30 { font-size: 1.875rem; }
.text-32 { font-size: 2rem; }
.text-36 { font-size: 2.25rem; }
.text-42 { font-size: 2.625rem; }
.text-48 { font-size: 3rem; } */

.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 400ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 400ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
